.App {
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}

.nav a:hover{
  background-color: black;
  color: white;
}

.login{
  color: brown;
  font-weight: bold;
}

.reg{
  background-color: brown;
  color:floralwhite;
  transform: skew(-10deg);
}

.reg:hover{
  background-color: black;
  color: antiquewhite;
}
.login:hover{
  color:whitesmoke;
  background-color: brown;
  transform: skew(-10deg);
}

.selected{
  background-color: brown;
  color:whitesmoke;
}

.bg-courses{
  background-color: #00262B;
}
.enroll-btn{
  background-color: brown;
  border: 0;
}
.enroll-btn:hover{
  background-color: black;
}
.grid-card{
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr;
}
.cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
}
.card-course{
  box-shadow: 2px 5px 5px 2px gray;
}
.card-course:hover{
  box-shadow: 5px 5px 5px 5px gray;
  cursor: pointer;
}
.bg-process, .features{
  background-color: rgba(236, 234, 234, 0.692);
}
.faculty-header{
  color: brown;
  font-weight: bolder;
}
.facebook{
  color: blue;
}
.twitter{
  color: #1D9BF0;
  margin: 0px 10px;
}
.youtube{
  color: red;
}
.footer-bg{
  background-color: #00262B;
}

.f-links a{
  color: white;
  font-weight: bolder;
  text-decoration: underline;
}
.f-links a:hover{
  color: brown;
}

@media (max-width:792px){
  .cards{
    grid-template-columns: 1fr;
  }
}